@font-face {
    font-family:"Alexandra";
    src: url("../fonts/Alexandra.ttf")
}
@font-face {
    font-family:"Helvetica-Bold";
    src: url("../fonts/HelveticaNeue-Bold.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family:"Helvetica-Regular";
    src: url("../fonts/HelveticaNeue-02.ttf") /* TTF file for CSS3 browsers */
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  letter-spacing: 0;
}

a, ul {
  list-style: none;
  text-decoration: none;

}
a, ul li{
  /* margin-right: 0 5px; */
}

/* G—————E—————N—————E—————R—————A—————L———————————————S—————T—————Y—————L—————I—————N—————G */

body {
  /* background: url(../images/background/sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover; */
  height: 100vh;
}

h1 {
  letter-spacing: -0.2rem;
  font-size: 3.7em;
  cursor: pointer;
}

/* O————P————E————N————I————N————G————————————————A————N————I————M————A————T————I————O————N */

.animation {
  z-index: 0;
  min-width: 100vw;
  min-height: 100vh;
  /* height: 100vh; */
  background: yellow;
  position: absolute;
  top:0;
  left:0;

}

.video-styles{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.hide {
  display: none !important;
}
.message {
  width: 100vw;
  text-align: center;
  color: blue;
  font-size: 4em;
  font-family:'Alexandra', serif;
  letter-spacing: 0.3em;
  opacity: 0.5;
  z-index: 1000000;
  position: absolute;
  top: 5vh;
  left: 0;
}


/* N———————A———————V———————I———————G———————A———————T———————I———————O———————N */

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1);
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1);
    }
}
@keyframes opacityInFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.scaleIn {
  -webkit-animation: bummer 1s;
  animation: bummer 1s;
  -webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.background-element.opacityIn {
  -webkit-animation: opacityInFade 3s ease-out;
  -moz-animation: opacityInFade 3s ease-out;
  -o-animation: opacityInFade 3s ease-out;
  animation: opacityInFade 3s ease-out;
}
nav.opacityIn {
  -webkit-animation: opacityInFade 0.5s ease-out;
  -moz-animation: opacityInFade 0.5s ease-out;
  -o-animation: opacityInFade 0.5s ease-out;
  animation: opacityInFade 0.5s ease-out;
}

.background-element {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/background/sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

main {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  /* -webkit-background-size: cover;
  background-size: cover; */
  visibility: hidden;

}

span.nav {
  font-family:'Alexandra', serif;
}

nav.navigation {
    font-family:'Helvetica-Bold', sans-serif;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul {
  height: 70vh;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}






/* B————————A————————N————————N————————E————————R */

.banner {
  background: white;
  z-index: 100;
  cursor: pointer;
  position: fixed;
  height: 40px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 3px 3px lightgrey;
}

.banner:hover .element {

}

.banner .element {

}

.banner img {
  margin-top: 5px;
  height:30px;
  -webkit-filter: drop-shadow(5px 1px 8px lightgrey);
  filter: drop-shadow(5px 1px 8px lightgrey);
}




/* A——————B——————O——————U——————T————————————————————————P——————A——————G——————E */

section.about {
  position: absolute;
  left: 0;
  top:0;
  z-index: 2;
  /* background-color: #E3E3E4; */
  background-color: white;
  width: 100%;
  height: 200%;
}


.container {
  margin-top: 100px;
  font-size: 1.2em;
  font-family: 'Helvetica-Regular', sans-serif;
  display: flex;
  flex-direction: column;

  color: white;



}
.container a {
  font-size: 1.2em;
  /* color: #A5A5A5; */
  color: white;
  font-family: 'Helvetica-Regular', sans-serif;
  letter-spacing: .03em;
}

.container .row {
  /* width: 100%; */
  margin: 0 34px;
  z-index: 1;
}

.container .moving {

}

.container .row:nth-child(2) {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.container .top {
  position: fixed;
  top:40px;
  left:0;
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30vh;
}
.row-block {
  width: 50%;

  /* justify-content:space-around; */
}
.row-block-right {
  text-align: right;
}

.row-block a img {
  width: 50%;
}

.container span {
  color: white;
  letter-spacing: .03em;
}


.container .row ul {
  font-family:'Helvetica-Regular', sans-serif;
  display: flex;
  flex-direction: row;
  min-width: 20vw;
}
.container .row ul li {
  margin-right: 20px;
}

.uncover {
  /* display: block;
  height: 40px; */
  /* box-shadow: -5px 12px 12px #E3E3E4; */
}
.faces  {
  z-index: 0;
}





/* Heading style */

.blured {
  /* transform: scale(3); */
}
.title,
.title:after{
  background-color: magenta;

  /* transform: scale(5); */

}

.space {
  display: block;
  height: 40px;
}

.title {
  position: relative;
  transform: scale(1);

  line-height: 2;
  color: white;
  display: inline;
  white-space: pre-wrap;
  border: 0 solid white;
  border-width: .25em 0; /* 0.25em is roughly equal to one space character. */
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.title:after {

  /* transform: scale(5); */
  content: "";
  position: absolute;
  /* transform: scale(4); */
  top: -0.25em;
  /* right: 100%; */
  bottom: 4.25em;
  width: 0.25em;
}
.title > span {

  position: relative;
  z-index: 1;

}

.title.show {
  outline: 3px solid red;

}
.title.show::after {
  outline: 3px solid lightgreen;
}








/* GENERAL FEATURES: HIDING, ANIMATING */

.hidden {
  display: none;
}
